.options-page-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-color);
    overflow: hidden;
}

.options-page-wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
}

.options-hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 50px;
}

.options-page-video {
    width: 100%;
    height: 100%;
    border: 1px solid hsl(0, 0%, 26%);
    border-radius: 10px;
}

.options-floating-widget-right {
    position: absolute;
    background-color: var(--primary-color);
    border: 1px solid hsl(0, 0%, 26%);
    border-radius: 10px;
    padding: 20px;
    top: -20px;
    left: -20px;
}

.options-floating-widget-left {
    position: absolute;
    background-color: var(--primary-color);
    border: 1px solid hsl(0, 0%, 26%);
    border-radius: 10px;
    padding: 20px;
    bottom: -20px;
    right: -20px;
}

.options-text-section {
    padding-top: 40px;
    align-self: center;
}

.options-copy-trade-section {
    width: 100%;
    margin-bottom: 40px;
}

@media screen and (max-width: 990px) {
    .options-img-container {
        width: 100%;
    }

    .options-img {
        width: 100%;
        object-fit: contain;
    }
}

@media screen and (max-width: 767px) {
    .options-page-video {
        display: none;
    }

    .options-floating-widget-left {
        position: static;
        width: 95%;
        overflow: hidden;
    }

    .options-floating-widget-right {
        position: static;
        width: 95%;
        margin: 20px 0px;
        overflow: hidden;
    }

    .options-hero-section {
        flex-direction: column;
        width: 100%;
        padding: 0px;
    }

    .options-page-wrapper {
        width: 100%;
    }
}